body p, a ,h1, h2,h3,h4,h5 {
 /*font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;*/
    color:#444444;
    font-family: 'Lato', sans-serif;
}


a:visited {
  color:#ddd;
}

body {
   font-size:2rem;
   line-height:2.4rem;
}

a:hover, a:visited {
  color:#666;
  text-decoration: none;
}

header {
  border-bottom:1px solid #ddd;
  box-shadow:0px 7px 26px -4px #ccc;
  z-index: 10;
  margin:0 0 6rem 0;


}
header h1 {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}
header h1 a {
  line-height:9rem;
  font-size:4rem;


}

nav {
  border-right:10px solid linear-gradient(90deg, rgb(191, 191, 191) 30%, rgb(255, 255, 255) 70%);
  position:fixed;
    /*box-shadow:7px 2px 26px -4px #ccc;*/
}
footer{
margin-top:3rem;
border-top:1px solid #ddd;
padding-top:3rem;
}


.nav-row ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.content-pic {
  border: 1px solid rgb(221, 221, 221); 
  margin: 0pt 10px 0pt 0pt; 
  padding: 2px; 
  max-width:600px;
  width:60%;
}

nav h2 {
  font-size:18px;
  font-family: 'Libre Baskerville', serif;
  text-transform:uppercase;
  padding:0px 0px 0px 0px;
  border-bottom:3px solid #444444;
  margin:5px 0px;
  font-weight:normal;
}

nav ul {
  margin:0px;
  padding:0px;
  display:block;
}

nav li {
  margin:0 0 0.5rem 0;
  padding:0 0 1px 0;
  list-style:none;
  text-transform:capitalize;
  font-family: 'Libre Baskerville', serif;
  border-bottom:1px dotted #444444;
}

nav li a {
  color:#444444;
  text-decoration:none;
  display:block;
  overflow:visible;
  font-family: 'Libre Baskerville', serif;
  padding:2px 0px 2px 0px;
  -moz-transition:background 0.5s ease-in-out;
  -webkit-transition:background 0.5s ease-in-out;
  -o-transition:background 0.5s ease-in-out;
  transition:background 0.5s ease-in-out;
}

nav li a:hover {
  background-color:#f0f0f0;
  -moz-transition:background 0.5s ease-in-out;
  -webkit-transition:background 0.5s ease-in-out;
  -o-transition:background 0.5s ease-in-out;
  transition:background 0.5s ease-in-out;
}

nav a span.btnSmall {
  margin:1px 8px 0px 0px;
  background:transparent url(/images/btnSmall_sprite.gif) no-repeat;
  /*background-size: 200%;*/
  float:left;
  display:block;
  height:10px;
  width:10px;
  position:relative;
  top:6px;
  left:0;
  padding:0;
  text-indent:-3000px;
  line-height:0;
}
nav li a span.btnSmallRight {
  background-position:top right;
  
}
nav li a:hover span.btnSmallRight {
  background-position:bottom right;
}


.gallery-grid {
  margin: 0;
  padding: 0;
}

.gallery-grid li {
  display: block;
  list-style: :none;
  height: 30rem;
  width: 20rem;
  margin:8rem 8rem 8rem 0;
  float: left;
}

.gallery-grid .name {
  display: block;
  text-align: center;
  /*border-top:1px dashed #bbb;*/
  padding:1rem 0 0 0;
  font-size:2.5rem;
}

.thumb-link {
  display: block;
  height: 22rem;
  width: 22rem;
  margin-bottom:2rem;  
  overflow: hidden;
  
  box-shadow: 0px 0px 0px 0px #fff;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

.thumb-link:hover {
  box-shadow: 0px 0px 8px 6px #ccc;
  -moz-transition:all 1s ease-in-out;
  -webkit-transition:all 1s ease-in-out;
  -o-transition:all 1s ease-in-out;
  transition:all 1s ease-in-out;
}

.thumb-link img {
  opacity:.5;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  height:200%;
  display: block;
  
  

}

.thumb-link:hover img { 
  opacity: 1;
  height: 150%;
  -moz-transition:all 1s ease-in-out;
  -webkit-transition:all 1s ease-in-out;
  -o-transition:all 1s ease-in-out;
  transition:all 1s ease-in-out;

}




.clear {clear: both;}

#editions  h3 {margin-top:2em; margin-bottom:1em;}

.page-title {
  border-bottom:1px solid #ccc;
  margin-bottom:1.2em;
}

.rss-icon {
background:url(/images/feed-icon-14x14.png) no-repeat 100% 50%;
font-size:0.5em;
padding:2em 1.5em 2em 2em;
float:right;
position: relative;
top:-22px
} 
.meta {margin-bottom:2em;}
/*#videos  iframe { margin:2em 2em 2em 0; float:left;}*/
#videos  iframe { margin:7px 2em .5em 0; float:left;}
#videos  iframe.part { margin:.5em .5em .5em 0; float:left;}
#videos .section {clear:both; margin-bottom:3em;}
#gallery {text-align: center;}
.synopsis p {
  line-height: 150%;
  font-size:0.85em;
}

.picturelist {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.picturelist .pic {
  display: block;  
  margin: 0 0 12em 0;
}
.image-source {
  display: block;
  margin: 2em auto;
  border:1px solid #ccc;
  padding:3px;
  box-shadow: 1px  1px 3px 2px #ddd;
  max-width: 100%;
}

.textList li {
  padding:.5em 0;
}

.textList li:hover {
  list-style: square;
}

/*@media  (min-width: 900px){
  #browser .pic img { width: 90%}
}

@media  (max-width: 900px){
  #headerBox {min-height:0;height: auto;}
  #headerBox h1 {
    min-height:0;
    height: auto;
    line-height: 3rem;
  }
  #contentBox {
    padding-top:.5rem;
  }
  #galleryColumn {clear:both;  float: none;}
  #browser {margin-top:15em;}
  #browser .pic img {width:80%;}
}*/