body p, a ,h1, h2,h3,h4,h5 {
    color:#444444;
    font-family: 'Lato', sans-serif;
}



.btn {
  font-family: 'Lato', sans-serif;
  background:linear-gradient(  rgb(225, 225, 225) 0%, rgb(230, 230, 230) 8% ,rgb(250, 250, 250) 90%,rgb(245, 245, 245) 100%);
  border:1px solid rgb(220,220,220);
  font-size:2rem;
}

.btn:hover {
  background:linear-gradient(  
    rgb(230, 230, 230) 0% ,
    rgb(255, 255, 255) 50%,
    rgb(235, 235, 235) 100%);

  border:1px solid rgb(220,220,220);
}

h2 {font-size:3rem;}
h3 {font-size:2rem;}
h2.page-title {font-size:3.5rem;}

a:visited {
  color:#ddd;
}

body {
   font-size:2rem;
   line-height:2.4rem;
}

a:hover, a:visited {
  color:#666;
  text-decoration: none;
}

header {
  border-bottom:1px solid #ddd;
  box-shadow:0px 7px 26px -4px #ccc;
  z-index: 10;
  margin:0 0 6rem 0;


}
header h1 {
  margin: 0;
  font-family: 'Libre Baskerville', serif;
}
header h1 a {
  line-height:9rem;
  font-size:4rem;
  

}

nav {
  /*border-right:10px solid linear-gradient(90deg, rgb(191, 191, 191) 30%, rgb(255, 255, 255) 70%);*/
}

footer{
margin-top:3rem;
border-top:1px solid #ddd;
padding-top:3rem;
}


.nav-row ul {
  list-style: none;
  margin: 0 0 2rem 0;
  padding: 0;

}

.content-pic {
  border: 1px solid rgb(221, 221, 221); 
  margin: 0pt 10px 0pt 0pt; 
  padding: 2px; 
  max-width:600px;
  width:60%;
}

nav h2 {
  font-size:2.2rem;
  font-family: 'Libre Baskerville', serif;
  text-transform:uppercase;
  padding:0px 0px .5rem 0px;
  border-bottom:3px solid #444444;
  margin:5px 0px;
  font-weight:normal;
}

nav ul {
   padding:0px;
  display:block;
}

nav li {
  margin:0 0 0.5rem 0;
  padding:0 0 1px 0;
  list-style:none;
  text-transform:capitalize;
  font-family: 'Libre Baskerville', serif;
  border-bottom:1px dotted #444444;
}

nav li a {
  color:#444444;
  text-decoration:none;
  display:block;
  overflow:visible;
  font-family: 'Libre Baskerville', serif;
  padding: .8rem 0;
  -moz-transition:background 0.5s ease-in-out;
  -webkit-transition:background 0.5s ease-in-out;
  -o-transition:background 0.5s ease-in-out;
  transition:background 0.5s ease-in-out;
}

nav li a:hover {
  background-color:#f0f0f0;
  -moz-transition:background 0.5s ease-in-out;
  -webkit-transition:background 0.5s ease-in-out;
  -o-transition:background 0.5s ease-in-out;
  transition:background 0.5s ease-in-out;
}

nav a span.btnSmall {
  margin:1px 8px 0px 0px;
  background:transparent url(/images/btnSmall_sprite.gif) no-repeat;
  /*background-size: 200%;*/
  float:left;
  display:block;
  height:10px;
  width:10px;
  position:relative;
  top:6px;
  left:0;
  padding:0;
  text-indent:-3000px;
  line-height:0;
}
nav li a span.btnSmallRight {
  background-position:top right;
  
}
nav li a:hover span.btnSmallRight {
  background-position:bottom right;
}


.gallery-grid {
  margin: 0;
  padding: 0;
}

.gallery-grid li {
  display: block;
  list-style: :none;
  height: 30rem;
  width: 20rem;
  margin:8rem 8rem 8rem 0;
  float: left;
}

.gallery-grid .name {
  display: block;
  text-align: center;
  /*border-top:1px dashed #bbb;*/
  padding:1rem 0 0 0;
  font-size:2.5rem;
}

.thumb-link {
  display: block;
  height: 22rem;
  width: 22rem;
  margin-bottom:2rem;  
  overflow: hidden;
  
  box-shadow: 0px 0px 0px 0px #fff;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}

.thumb-link:hover {
  box-shadow: 0px 0px 8px 6px #ccc;
  -moz-transition:all 1s ease-in-out;
  -webkit-transition:all 1s ease-in-out;
  -o-transition:all 1s ease-in-out;
  transition:all 1s ease-in-out;
}

.thumb-link img {
  opacity:.5;
  -moz-transition:all 0.3s ease-in-out;
  -webkit-transition:all 0.3s ease-in-out;
  -o-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
  height:200%;
  display: block;
  
  

}

.thumb-link:hover img { 
  opacity: 1;
  height: 150%;
  -moz-transition:all 1s ease-in-out;
  -webkit-transition:all 1s ease-in-out;
  -o-transition:all 1s ease-in-out;
  transition:all 1s ease-in-out;

}




.clear {clear: both;}

#editions  h3 {margin-top:2rem; margin-bottom:1rem;}

.page-title {
  border-bottom:1px solid #ccc;
  margin-bottom:1.2rem;
}

.rss-icon {
  background:url(/images/feed-icon-14x14.png) no-repeat 100% 50%;
  font-size:1.5rem;
  padding:2rem 2.5rem 2rem 2rem;
  float:right;
  position: relative;
  top:-22px
} 

.meta {margin-bottom:2rem;}
/*#videos  iframe { margin:2rem 2rem 2rem 0; float:left;}*/
#videos  iframe { margin:7px 2rem .5rem 0; float:left;}
#videos  iframe.part { margin:.5rem .5rem .5rem 0; float:left;}
#videos .section {clear:both; margin-bottom:3rem;}
#videos .section h2 {
  border-bottom:1px solid #ddd;
  box-shadow: 0 7px 18px -7px #ccc;
  margin-bottom:3rem;
  font-size:2.5rem;
}
#gallery {text-align: center;}

.synopsis p {
  font-size:1.8rem;
  line-height: 2.8rem;
  
}

.picturelist {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}

.picturelist .pic {
  display: block;  
  margin: 0 0 12rem 0;
}
.image-source {
  display: block;
  margin: 2rem auto;
  border:1px solid #ccc;
  padding:3px;
  box-shadow: 1px  1px 3px 2px #ddd;
  max-width: 100%;
}

.textList li {
  padding:.5rem 0;
}

.textList li:hover {
  list-style: square;
}



legend {border:0;}
#guestbook textarea, #guestbook input. {}
fieldset {padding:0 0 2rem 0;}

.fieldrow {
  margin-bottom:2rem;
}
.fieldrow label {
  display: block;
}

.fieldrow input,.fieldrow textarea{
  display:block;
  width:80%;
  max-width: 600px;
}

.fieldrow textarea{
  display:block;
  width:80%;
  height:20rem ;
}

/*@media  (min-width: 900px){
  #browser .pic img { width: 90%}
}

@media  (max-width: 900px){
  #headerBox {min-height:0;height: auto;}
  #headerBox h1 {
    min-height:0;
    height: auto;
    line-height: 3rem;
  }
  #contentBox {
    padding-top:.5rem;
  }
  #galleryColumn {clear:both;  float: none;}
  #browser {margin-top:15rem;}
  #browser .pic img {width:80%;}
}*/