<?xml version="1.0" encoding="utf-8"?>
<conf>
	<pages>
	<!-- list of pages: title, metas, menu node, static content files and their place in template-->
	<!-- page id maches node id in menu-->
	
	<page pageId="news" menuId="news">
		<title>Elina Brotherus</title>
		<meta>
			<key>Elina Brotherus, photography, Finnish photography, Elina Brotherus website, Elina Brotherys, valokuvaus,  elinabrotherus.com</key>
			<desc>Welcome to elinabrotherus.com. Elina Brotherus is a Finnish photographer currently living in France.</desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">news.html</file>
		</staticfiles>
	</page>
	
	<!--page pageId="archive" menuId="archive">
		<title>Elina Brotherus - News archive</title>
		
		<meta>
			<key>Archive,Elina Brotherus, old </key>
			<desc>Site Archive - elinabrotherus.com</desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">archive.html</file>
		</staticfiles>
	</page-->


	<page pageId="photography" menuId="photography">
		<title>Elina Brotherus - Photography</title>
		
		<meta>
			<key>Elina Brotherus, pictures, photographs, series</key>
			<desc>elinabrotherus.com - Photography series </desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">photography_index.html</file>
		</staticfiles>
	</page>

	<page pageId="photogallery" menuId="photography">
		<title>Elina Brotherus - Photography</title>
		
		<meta>
			<key>elinabrotherus.com - Elina Brotherus, pictures, photographs, series, works,Artist and her Model,Études d'après modèle, danseurs,Model Studies, Large de vue, The New Painting,Brotherus, tyttö (Brotherus, Girl),Suites françaises, Das Mädchen sprach von Liebe,Self-portraits , early works, Harmaat Päivät</key>
			<desc>elinabrotherus.com - Photography series </desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">photography.html</file>
			<file for="BROWSER">gallery_browser.html</file>
		</staticfiles>
	</page>


	<page pageId="editions" menuId="editions">
		<title>Editions</title>
		
		<meta>
			<key>Elina Brotherus, editions,The New Painting ,Complete Videoworks</key>
			<desc>elinabrotherus.com - Edition</desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">editions.html</file>
		</staticfiles>
	</page>
	
		
	<page pageId="bibliography" menuId="bibliography">
		<title>Bibliography</title>
	
		<meta>
			<key>Bibliography,Elina Brotherus,Articles,Interview,Bibliography,</key>
			<desc>elinabrotherus.com - Articles, Interviews and Bibliography.</desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">bibliography.html</file>
		</staticfiles>
	</page>

	

	
	<page pageId="exhibitions" menuId="exhibitions">
		<title>Exhibitions</title>
	
		<meta>
			<key>exibitions, Elina Brotherus,Ecology of Emotions,Correspondences ,  Martin Asbaek Gallery, Myth of Childhood , La Ruche en d’autres thèrmes </key>
			<desc>elinabrotherus.com - Exhibitions.</desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">exhibitions.html</file>
		</staticfiles>
	</page>
	
	<page pageId="videos" menuId="videos">
			<title>Video works</title>
			
			<meta>
				<key>Elina Brotherus</key>
				<desc>elinabrotherus.com - Video works</desc>
			</meta>
			<staticfiles>
				<file for="CONTENT">video.html</file>
			</staticfiles>
	</page>
	<page pageId="wallpapers" menuID="wallpapers">
			<title>Wallpapers</title>
		
			<meta>
				<key>Elina Brotherus</key>
				<desc>Does beautiful photography</desc>
			</meta>
			<staticfiles>
				<file for="CONTENT">wallpapers.html</file>
			</staticfiles>
		</page>
	


	
	<page pageId="wallpapers" menuID="wallpapers">
		<title>Wallpapers</title>
	
		<meta>
			<key>Elina Brotherus</key>
			<desc>Does beautiful photography</desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">wallpapers.html</file>
		</staticfiles>
	</page>


	<!--page pageId="downloads" menuId="downloads">
		<title>Downloads</title>
		
		<meta>
			<key>Elina Brotherus</key>
			<desc>Does beautiful photography</desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">download.html</file>
		</staticfiles>
	</page-->
	
		
	<page pageId="links" menuId="links">
		<title>Links</title>
		
		<meta>
			<key>Elina Brotherus</key>
			<desc>Does beautiful photography</desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">links.html</file>
		</staticfiles>
	</page>
	
	<page pageId="contact" menuId="contact">
		<title>Contact</title>
		
		<meta>
			<key>Elina Brotherus</key>
			<desc>Does beautiful photography</desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">contact.html</file>
		</staticfiles>
	</page>
	
	<page pageId="guestbook" menuId="guestbook">
		<title>Contact</title>
		
		<meta>
			<key>Elina Brotherus</key>
			<desc>Does beautiful photography</desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">guestbook.html</file>
		</staticfiles>
	</page>
	
	<page pageId="admin" >
		<title>Guestbook admin</title>
		
		<meta>
			<key></key>
			<desc></desc>
		</meta>
		<staticfiles>
			<file for="CONTENT">guestbook.html</file>
		</staticfiles>
	</page>

    </pages>
	
	<!--MENU CONFIG -->
	<menus>
		<!-- node id is used to map pages to menus-->
		<menu>
			<title>News</title>
			
			<node menuId="news">
				<url>/news/index.php</url>
				<name>Current News</name>
			</node>
			
			<node menuId="archive" hidden="1">
				<url>/news/index.php#all</url>
				<name>News Archive</name>
			</node>
		
		</menu>
		
		<menu>
		
			<title>Works</title>
			<node menuId="photography">
				<url>/photography/index.php</url>
				<name>Photography</name>
			</node>
			<node menuId="editions">
				<name>Editions</name>
				<url>/editions/</url>
			</node>
			<node menuId="videos" >
				<url>/videos/</url>
				<name>Videos</name>
			</node>
		
		</menu>
		
		<menu>
			<title>Biography</title>
		
			<node menuId="exhibitions">
				<name>Exhibitions</name>
				<url>/exhibitions/</url>
			</node>
			
			<node menuId="bibliography">
				<name>Bibliography</name>
				<url>/bibliography/</url>
			</node>
		</menu>
		
		<menu menuId="extras">
			<title>Extras</title>
			
			<node menuId="downloads" hidden="1">
				<name>Downloads</name>
				<url>/downloads/</url>
			</node>
			
			<node menuId="wallpapers">
				<name>Wallpapers</name>
				<url>/wallpapers/</url>
			</node>
			
			<node menuId="links">
				<url>/links/</url>
				<name>Links</name>
			</node>
			
			<node menuId="contact">
				<url>/contact/</url>
				<name>Contact</name>
			</node>
	    	<node menuId="guestbook">
				<url>/guestbook/</url>
				<name>Guestbook</name>
			</node>
		</menu>
	</menus>
</conf>

