<h3 class="sBTitle">New Photographs (2006-)</h3>
<h4>"A Good Life is Seeing the World Esthetically" <span class="super">1</span></h4>
<p class="ingress">

My work consists of walking with the camera in a back-pack and the tripod under my arm, observing the changing light, looking for the simple landscape, depicting a human figure in a space without any narrative. The subject matter is the passage of time, the color of light, the human form, the artist’s gaze.
</p>
<p>
Image has its own laws. One looks at an image in a different way than one looks at the real world. When photographing, one often cannot see what the result will be; wheras upon watching a photograph one sees and knows instantaneously if ’yes or no’. Things are found and resolved through working, repeting and  going deeper, through variations of a theme.
</p>
<p>
Everything has to do with the eye. In all my work, in the end, the question is about the artist’s gaze that becomes visible in the photograph. The wanderer in front of a landscape shows us what she has chosen to look at. The back of the artist-model is calm. She invites us to watch together with her, but we don’t disturb eachother. The artist looks at the model with this same gaze: neutral, observing, but at the same time admiring and surprised. In some photographs the lonesome artist-model is accompanied by another figure who watches the same landscape with her. Their eyes are hidden from us, but the object, chosen by their gaze, opens up in front of the spectator.
</p>
<p>
Even when the artist is not physically present in the photograph, her gaze is in it. The object of her gaze, be it model or landscape, is something the artist has chosen to frame out from the world. The photograph contains this gaze and results from it.
</p>
<p>
My new works continue the same visual thinking as my previous series The New Painting (2000-2004), Model Studies (2002-), and Points of View on Landscape (2006-). I’m looking for what we too often lack in the everyday life: calm, wide spaces, surprise, veritable solitude and in compensation a shared experience.
</p>

<p class="signature">
Elina Brotherus, April 2008.
</p>
<p>
<span class="super">1</span><br /> Juha Sihvola, Researcher in Philosophy, in the seminar ‘Taiteen paikka’ (‘The Place for Art’), Finnish Parlament, 2007.
</p>


