<h3 class="sBTitle">Artist and her Model (2005-)</h3>

<p class="ingress">
The title Artist and her model refers to two things. I have in the recent years started to use more and more other models in my work. I'm especially interested in the way an artist looks at a model, the ‘artist's gaze’ which is neither the male gaze nor the female gaze but something neutral, observing, scrutinising, sometimes surprised or admiring.
</p>
<p>
In the double portraits of artist and model I try to make this gaze visible. In addition, Artist and her model points to the double identity I have in my photographs: since my very beginning in the 90’s, the artist and the model have often been one and the same.
</p>
<p>
These new photographs continue the same visual thinking as my previous series The New Painting (2000-2004) and Model Studies (2002-). My work consists of walking with the camera in a back-pack and the tripod under the arm, observing the changing light, looking for the simple landscape. The essential questions are the passage of time, the color of light, the human figure. I’m looking for what we too often lack in the everyday life: calm, wide spaces, surprise, veritable solitude and in compensation a shared experience.
</p>
<p class="signature">
Elina Brotherus
2008-09
</p>
