<h3 class="sBTitle">Self-portraits (1998)</h3>

<p class="ingress">
In one’s own private world everyone is like an origin of co-ordinates from where one preceives one’s environment. I study the emotional landscape and feelings of the individual and how he or she becomes part of the whole formed by the others. I express my studies in photographs.

</p>
<p>
The aspect of daring is essential to me. I want to transcend the emotional self-censorship and express to the viewer the seriousness of such moments. I treat strong emotions and have therefore chosen a reduced and simplified mode of expression. “The paradox of emotion lies in the fact that is expressed most beautifully when both pressure and restraint are present” (Jan Blomstedt). 
</p>
<p>
Action and seriality are my recurring methods and a voyeristic attitude is one of my catalysts. Photography is a good medium for self-observation because of the time-lag between standing before the camera and seeing the result. One cannot observe oneself with a mirror, for there is a quick feedback between the mirror image and one’s own facial muscles: the viewer can only see his or her regular mirror-image face instead of finding a way beneath the surface
</p>

<p class="signature">
Elina Brotherus
Helsinki, August 1998
</p>
