<h3 class="sBTitle">Das Mädchen sprach von Liebe (1997-1999)</h3>

<p class="ingress">
The Finnish composer Eero Hämeenniemi writes in his book Tekopalmun alla (Under the artifical palm tree) that "We should start to respect the personal, subjective experience again. There is nothing non-intellectual in experience." 
I believe in experience. Creating images shakes me up; or, when life is 'shaky', I get the urge and passion to take photographs.
 </p>
<p>
I work primarily in self-portraiture, sometimes incorporating other people who have a special meaning in my life. My work has a direct relationship to my reality. A person in the theatre once told me that I was a good actress but this is not true. My whole method depends upon my being a lousy actress. It's only possible for me to photograph when something really happens, which makes the images authentic, emotionally genuine. Even though I construct images, I don't act or role-play, and in this sense my work is rooted in the documentary tradition. 
</p>
<p>
I trust intuition and rapid reaction. I, too, have my 'decisive moments', but they differ from that concept as applied to classic photography. For Henri Cartier-Bresson, such a moment was a compositional thing: that fraction of a second when all the lines and elements on a two-dimensional plane meet in the most exciting way. My decisive moments have more to do with the contents of each image. They might last a couple of minutes or even a week. I would prefer, instead, to talk about decisive periods of time: 'The Decisive Day' rather than just a moment.
</p>
<p>
I do believe in the profound 'sameness' of human beings. People die and new ones are born; people fall in love and they separate. In every person's life there are both large and small tragedies, much and little happiness; there are emotions and needs. That is why fragments from my life might seem familiar to others as well. In a way I provide the viewers with a blank screen, a surface on which to project their own feelings and desires. Most often my work deals with love and its side-effects; the absence or presence of it in its different forms.
</p>
<p class="signature">
Elina Brotherus
Helsinki, May 1999
</p>
