<h3 class="sBTitle">Harmaat päivät, kalpeat yöt (Grey Days, White Nights)</h3>

<p class="ingress">
An ongoing series of landscape work - nocturnes, covered skies, solitary views, low-light conditions entre chien et loup, nightless summer nights, the passage of time, the color of light.</p>
<p>
I find the title most beautiful in my native Finnish language. It would translate more accurately into “Pale Nights” but I chose “White Nights” in English for the sound of it.

</p>

<p class="signature">
Elina Brotherus
2009
</p>
