<h3 class="sBTitle">The New Painting (2000-2004)</h3>
<p class="ingress">
«Photography is the new painting», said my friend Edda Jonsdottir, director of i8 gallery in Reykjavik. With this somewhat provocative sentence in mind in June 2000 I started my still ongoing series, “The New Painting.” I use contemporary means of expression (large format color photography), but I owe a lot to the aesthetics of classical figurative painting. With the camera I try to approach the same problems that painters have been dealing with for centuries: light, color, composition, figures in space, projection of the three-dimensional into the two-dimensional. I find these questions fundamental in all visual arts.
</p>
<p>
The subject matters come from my close surroundings - from where I live, where I travel, with whom I share my time. The images fall into two categories: landscapes, notably the Horizon works (called Horizons, Low Horizons, and Very Low Horizons, depending on the division of the picture plane), and works with the human figure.
</p>
<p>
Like in my earlier work, I frequently use myself as a model. However, these new works escape from the inherent problem of self-portraiture, the problem of «representing oneself». They do not aim at drawing a psychological portrait of the subject, but rather presenting him/her as an object of investigation, not for the inner properties but for the external ones. The person in the picture is a model, in the same sence as painters have been using models. The human figure offers endless possibilities. How do the figures interact with space and with each other? How does the light reveal the form? What happens if the direction of the gaze changes? The human body in its beauty and its banality never stops to fascinate me.
</p>
<p>
It is important to me to combine these two categories of work. I like formal simplicity; the landscapes constructed of only a few lines function as resting places for the spectator. 
The works in “The New Painting” search for beauty and are motivated by it, even if «beauty» might be considered controversial in contemporary art.
</p>
<p class="signature">
Elina Brotherus.
Paris, April 2001
</p>
<p class="ingress">
The colours of a photographic print are not given; the "correct" answer is not hidden in the negative. It is surprising how much can be done in the darkroom. Choosing the colour of the sky can be just as arbitrary as choosing among pigments of oil paint. This came like a revelation to me when working on the The New Painting. All there is, is a vague impression of "how it was" on the location, and a choise that has to be made by the artist when printing. This is why I have started to take notes, in the spirit of Bonnard, in order to remember what things looked like.
</p>
<p>
Photography, unlike painting, has a direct link to the reality. This is both its enchantement and its curse. People tend to treat photographs as documents: who is this person, or where is that place? I would prefer that we pay more attention, not only to the subject matter itself, but to how it is shown: what visual choises has the artist made, how has he/she solved certain problems, what is the structure of the image, the mood of it, how are the colours tuned? How does it affect us as viewers?
</p>

<p class="signature">
Elina Brotherus
2006
</p>