<h3 class="sBTitle">Suites françaises 2 (1999)</h3>


<p class="ingress">
Language is a way of creating order out of chaos. We give names to objects, classify and categorize things, analyse phenomena. Language makes thinking possible. 
</p>
<p>
This work explores classical themes of photography: landscape, portraiture, interior, still life, study of the human figure. But even more important, it deals with learning, conceptualising, getting a grip on one's life. When you do not understand the language spoken around you, you live in a strange state of instability. Language is essential in creating the feeling of basic security. When I arrived in France at the beginning of September, I was barely able to buy myself a subway ticket. This work is an effort to learn a new language, to get acquainted with a new country and a new culture. It tells about "outsiderness", the incoherence between the person and his environment, and about the simple small means with which one tries to take his place in society. 
</p>
<p>
I continue, like I have done earlier, to combine self-portraiture and landscape work. When shown together they reflect on each other, and this cross-linking produces new kinds of contents in both genres. The landscapes become charged with meanings, and the self-portraits become more peaceful.
</p>
<p>
Thanks are due to my friend Andrea who recommended the proved-to-be-efficient Post-it sticker method for learning French.
</p>
<p class="signature">
Elina Brotherus
Chalon-sur-Saône, November, 1999
</p>