<h3 class="sBTitle">"BROTHERUS, TYTTÖ" (2003/2004)</h3>

<p class="ingress">
My friend Hanna Brotherus is a dancer and a choreographer, who has three sons. In autumn 2002 Hanna asked me to be there for the birth of her fourth child. She explained that she doesn't remember much of the previous deliveries and wished to have a permanent souvenir of this major theme in her life. The title of the photographic series and the video, shot the following summer, refer to the fact that for the first time on the baby's bed at the clinic it was not written "Brotherus, Boy". (N.B. the Finnish word "tyttö" stands for "girl". It is the habit at Finnish maternity clinics to write on the bed the surname of the family and the sex of the baby.)
</p>
<p>
We spent the whole night at the clinic. In addition to Hanna and her husband, there were me and another friend, and the midwives would just peek occasionally at the door and say: "Ring the bell if you need anything, will you!" Hanna remembers: "It was a wonderful night, because we had so much fun, and at the same time it was so horrible." We all cried. I think that by taking me along Hanna gave me an enormous gift. For me that night was a most beautiful experience of love.
</p>
<p>
The video tells the same story with the means of drama. The dancer advances of a road, and when the rehearsed choreography ends, she steps into the forest, into the unknown. There she encounters the new child. It is the mother's way towards her daughter, a daughter who came into life through all obstacles.
</p>
<p class="signature">
Elina Brotherus
Helsinki, August 2004
</p>
<p>
2002/2004, portfolio: 17 inkjet prints, Ultrachrome pigmented inks on Canson smooth 210 g/m2 paper,39,2 x 29,4 cm, edition: 25 + 5 artist’s proofs.</p>