<div class="newsContainer column">
<!--
<h2>News</h2>
-->
<div class="newsItem">
	<h3>
		<span class="date">
			1.11.2008
		</span>
		<span class="title">
			New site
		</span>
		 <span class="arrow"> &nbsp;</span>
	</h3>
	
	<p class="ingress">
		hooray we have a site 
	</p>
		<p class="more">more  stuff</p>
		<p class="more">more  stuff</p>
		<p class="more">more  stuff</p>
		<p class="more">more  stuff</p>
		<p class="more">more  stuff</p>
		<p class="more">more  stuff</p>

</div>


<div class="newsItem">
	<h3>
		<span class="date">
			1.11.2008
		</span>
		<span class="title">
			Some old news
		</span>
		 <span class="arrow"> &nbsp;</span>
	</h3>
	<p class="ingress">
		been there, done that...
	</p>

		
		<p class="more">more  stuff</p>
		<p class="more">more  stuff</p>
		<p class="more">more  stuff</p>
		<p class="more">more  stuff</p>
		<p class="more">more  stuff</p>
		<p class="more">more  stuff</p>

</div>
<!--{MORE}-->


<!-- news template: copy from here and fill out-->
<!-- 


<div class="newsItem">
	<h3>
		<span class="date">
			1.11.2008
		</span>
		<span class="title">
			Some old news
		</span>
		 <span class="arrow"> &nbsp;</span>
	</h3>
	<p class="ingress">
		been there, done that...
	</p>

	<p class="more">more  stuff</p>
		

</div>

-->


</div>

