<div class="column midColumn"> 
	<div class="midTop">
		<div class="midBottom">
		<h2>Bibliography</h2>
			<ul class="sectionList">

				<li>
					<h3 class="date"><a class="sectionLink" href="#section_1"><span class="name">Articles</span></a></h3>				
				</li>

				<li>
					<h3 class="date"><a class="sectionLink" href="#section_2"><span class="name">Interviews</span></a></h3>				
				</li>
				<li>
					<h3 class="date"><a class="sectionLink" href="#section_3"><span class="name">Bibliography</span></a></h3>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="column rightColumn">

	<div class="section" id="section_1">
		<h3>Articles</h3>
		<p>A selection of articles in chronological order</p>
		<ul class="textList">
			<li><a href="/assets/pdf/articles/brotherus_sketchbook_98.pdf"><i>Sketchbook Notes (en)</i>, 1999 - Elina Brotherus</a></li>
			<li><a href="/assets/pdf/articles/laakso_eb_fi_00.pdf"><i>Elina Brotherus (fi)</i>, 2000 - Leena Laakso</a></li>
			<li><a href="/assets/pdf/articles/walker_empty hands_00.pdf"><i>Empty Hands (en)</i>, 2000 - Caryn Faure Walker</a></li>
			<li><a href="/assets/pdf/articles/hannula_girlwho_en_00.pdf"><i>A Girl Who Looked Past and Beyond the Camera (en)</i>, February 2000 - Mika Hannula</a></li>
			<li><a href="/assets/pdf/articles/kaila_perform_en_00.pdf"><i>On performing for the camera (en)</i>, May 2001 - Jan Kaila</a></li>
			<li><a href="/assets/pdf/articles/holzherr_suites_01_fr.pdf"><i>Suites françaises (fr)</i>, March 2001 - Andréa Holzherr</a></li>
			<li><a href="/assets/pdf/articles/williams_eb_en_01.pdf"><i>On Elina Brotherus (en)</i>, 2001 - Val Williams</a></li>
			<li><a href="/assets/pdf/articles/brotherus_paris photo_01.pdf"><i>Paris Photo (fr)</i>, April 2001 - Elina Brotherus</a></li>
			<li><a href="/assets/pdf/articles/kolle_portfolio_01_de.pdf"><i>Beschlagene Spiegel, Fremdsprachen und andere Widrigkeiten des Lebens
 (de)</i>, 2001 - Brigitte Kölle</a></li>
 			<li><a href="/assets/pdf/articles/rantala_nudes_en_03.pdf"><i>Nudes in Waterscape (en)</i>, 2003 - Hannele Rantala</a></li>
			<li><a href="/assets/pdf/articles/colombo_newpainting_it_04.pdf"><i>Photography is the new painting (it)</i>, 2004 - Paolo Colombo</a></li>
			<li><a href="/assets/pdf/articles/biver_carnets_04.pdf"><i>Carnets de Résidences #2 (en)</i>, 2004 - Elina Brotherus</a></li>
			<li><a href="/assets/pdf/articles/brotherus_here today_ 04.pdf"><i>Here today, gone tomorrow</i> - 2004 - Elina Brotherus</a></li>
			<li><a href="/assets/pdf/articles/pettersson_close_en_05.pdf"><i>Close to Painting (en)</i>, January 2005 - Susanna Pettersson</a></li>
			<li><a href="/assets/pdf/articles/holzherr_of landscape_05.pdf"><i>Of Landscape (en)</i>, 2005 - Andréa Holzherr</a></li>
			<li><a href="/assets/pdf/articles/bocher_eloge_fr_05.pdf"><i>Prix Niepce 2005 (fr)</i>, 2005 - Nathalie Bocher-Lenoir</a></li>
			<li><a href="/assets/pdf/articles/kaila_sydney_en_06.pdf"><i>Elina Brotherus (en)</i>, 2006 - Jan Kaila</a></li>
			<li><a href="/assets/pdf/articles/valjakka_breadth_en_07.pdf"><i>Breadth of Vision (en)</i>, 2007 - Timo Valjakka</a></li>
			<li><a href="/assets/pdf/articles/boyer_corps_fr_07.pdf"><i>Corps de Ballet (fr)</i>, 2007 - Charles-Arthur Boyer</a></li>
			<li><a href="/assets/pdf/articles/papaloizos_newpaint_en_07.pdf"><i>Elina Brotherus (fr)</i>, 2007 - Isabelle Aeby Papaloïzos</a></li>
			<li><a href="/assets/pdf/articles/valjakka_reflexive_en_08.pdf"><i>Reflexive Spaces (en)</i>, August 2008 - Timo Valjakka</a></li>
			
			
			
			
		</ul>
		
		</div>
		<div id="section_2" class="section">
		<h3>Interviews</h3>
		<p>A selection of interviews on and texts by Elina Brotherus</p>
		<ul class="textList">
			<li><a href="/assets/pdf/interviews/howart_tosee_01.pdf"><i>To see the water for the rain - An interview with Elina Brotherus (eng)</i>, London 2001 - interview by Sophie Howarth</a></li>
			<li><a href="/assets/pdf/interviews/miller_uusia_fi_02.pdf"><i>Elina Brotheruksen haastattelu (fi)</i>, Helsinki July 2002 - conversation with Arja Miller</a></li>
			<li><a href="/assets/pdf/interviews/kaila_enhancement_01.pdf"><i>The Enchantment of Reality, discussion between EB and Jan Kaila (eng),</i> Helsinki August 2001</a></li>
			<li><a href="/assets/pdf/interviews/"><i>Elina Brotherus - The New Paintig (eng)</i>, Brussels January 2003 - Interview with Evelyne Biver</a></li>
			<li><a href="/assets/pdf/interviews/holzherr_paysages_fr_03.pdf"><i>Elina Brotherus - Paysages: fenêtres vers l’extérieur (fr)</i>, February 2003 - Interview by Andréa Holzherr</a></li>
			<li><a href="/assets/pdf/interviews/billier_elina_03.pdf"><i>Elina Brotherus - après l'intervention d'EB à l'Ecole Municipale Supérieure d'Arts de Rueil-Malmaison (fr)</i>, 2003 - Interview by Dominique Billier</a></li>
			<li><a href="/assets/pdf/interviews/burnett_interview_en_03.pdf"><i>Elina Brotherus - Next Level Magazine (en)</i>, August 2003 - Interview with Craig Burnett</a></li>
			<li><a href="/assets/pdf/interviews/patteeuw_interview_en_04.pdf"><i>Elina Brotherus - Interview with Roland Patteeuw (en)</i>, Loppem 2004</a></li>
			<li><a href="/assets/pdf/interviews/bankale_discussions_05.pdf"><i>Discussion between Sheyi Antony Bankale and Elina Brotherus (en)</i>,February 2005</a></li>
			<li><a href="/assets/pdf/interviews/eusterschulte_conver_en_05.pdf"><i>Elina Brotherus (en)</i>, Kassel November 2005 - conversation with Birgit Eusterschulte</a></li>
			<li><a href="/assets/pdf/interviews/scemama_spirit_en_07.pdf"><i>The Spirit and the Animal (en)</i> Paris 2007 - EB in conversation with Patrick Scemama</a></li>
		
		</ul>
	</div>

	<div class="section" id="section_3">
		<h3>CV (January 2010)</h3>
		<ul class="textList">
		<li><a href="/assets/pdf/biblio_cv/Elina_Brotherus_cv11.pdf">Download the latest CV </a></li>	
		</ul>
		
		<h3>Bibliography</h3>
		<ul class="textList">
			<li><a href="/assets/pdf/biblio_cv/broth_biblio_06.pdf">Download the latest bibliography </a></li>
		</ul>	
		
	</div>


</div><!--END OF COLUMN -->
<script type="text/javascript">
	Brotherus.init.sections = 1;

</script>
