<div class="col-xs-12 col-sm-9 col-md-8">
  <h3>Contact info</h3>
  
  <p>For all press inquiries and requests related to exhibitions:</p>
  <p>
  <a href="mailto:elina.brotherus@gmail.com">elina.brotherus[at]gmail.com</a>
  </p>
  
  <h3> Site design</h3>
  
  <p><strong>UI and site development:</strong> Sakari Laaksonen</p>
  <p><strong>Graphic design:</strong> Antoine Verhaverbeke</p>
  <p><strong>Site producer:</strong> Sakari Laaksonen</p>
  <p><strong>Hosting:</strong>Heroku</p>
  <p><a href="mailto:sakke.laaksonen@gmail.com">Contact webmaster</a></p>
</div>