<div class="col-xs-12 col-sm-9 col-md-10">
	<h2>EDITIONS</h2>
	
	<h3 >Etudes d'après modèle, danseurs</h3>
	<p> <i>book</i>, 2007</p>
	<img alt="Etudes d'après modèle, danseurs" title="Etudes d'après modèle, danseurs" src="/photos/editions/Edition%2001.jpg" class="content-pic" />
	
	
	<h3 >The New Painting</h3>
	<p> <i>book</i>, 2005</p>
	<img alt="The New Painting" title="The New Painting" src="/photos/editions/Edition%2002.jpg" class="content-pic"  />
	
	<h3 >Decisive Days</h3>
	<p> <i>book</i>, 2004</p>
	<img alt="Decisive Days" title="Decisive Days" src="/photos/editions/Edition%2003.jpg" class="content-pic" />
	<h3 >Complete Videoworks 1996-2006</h3>
	<p> <i>cd rom</i>, 2006</p>
	<img alt=">Complete Videoworks 1996-2006" title=">Complete Videoworks 1996-2006" src="/photos/editions/Edition%2004.jpg" class="content-pic"  />

</div>