<div class="col-xs-12 col-sm-8 col-md-9">
  
</div>

{{! <div class="column midColumn"> 
	<div class="midTop">
		<div class="midBottom">

			<ul>
        <li>
          <a class="sectionLink" href="#ex1">
          <span class="name">Collective Exhibitions</span>
          </a>
        </li>
        <li>
          <a class="sectionLink" href="#ex2">
          <span class="name">Solo Exhibitions</span>
          </a>
        </li>
        <li>
          <a class="sectionLink" href="#ex3">
          <span class="name">Book Launch Events</span>
          </a>
        </li>      
			</ul>

		</div>
	</div>
</div>
<!--end of column-->

<div class="column rightColumn">
<!--section content -->
	<div id="ex1" class="section" id="exhibition-content">
	
        <h2>Collective Exhibiotions</h2>
        <div class="newsItem">
        <h3>April 24 - July 22, 2012.</h3>      
        <p class="ingress">Out of Focus, Saatchi Gallery, London.</p>
        </div>
        
        <div class="newsItem">
        <h3>Until May 6, 2012.</h3>
        <p class="ignress">Only You Only Me, Images of Love, Love of the Image, <br /> Biennial of Photography and Visual Arts, Musée d’art moderne et d’art contemporain MAMAC, Liège, Belgium.</p>
        </div>
        

        <div class="newsItem">
        <h3 class="date">June 18 - Oct 2 </h3>
        <p class="ingress">
        <span class="name">Momentum, The Nordic Biennial</span>
        <br />Moss, Norway.
        </p>
        <p>
        <b>More info coming soon on: </b> <a href="http://www.momentum.no/">http://www.momentum.no/</a>
        </p>
        </div>
        
        <div class="newsItem">
        <h3 class="date">June 25</h3>
        <p class="ingress">
        <span class="name">Screaming from the Montain: Landscapes and View Points</span>
        <br />
        Sörlandets Kunstmuseum, Kristiansand, Norway
        </p>
        <p>
        <b>More info coming soon: </b> <a href="http://www.skmu.no/">http://www.skmu.no/</a>
        </p>
        </div>

        <div class="newsItem">
        <h3>June 1 - Aug 15</h3>
        <p class="ingress">
        <span class="name">Pieniä tarinoita suurmiehestä.</span><br />
         Kotkaniemi, P.E. Svinhufvudin kotimuseo, Luumäki, together with <b>Leena Svinhufvud</b>.
         </p>
        </div>

        <div class="newsItem">
        <h3 class="date"> June 12 - Aug 14</h3>
        <span class="name">Purnu Art Center, Orivesi</span>
        </div>



        <div class="newsItem">
        <h3> June 16 - 19</h3>
        <p class="ingress">
        Workshop in Lyon, organised by Bloo Workshops.</p>
        <p>
        <b>More info: </b> 
        <a href="http://www.blooworkshops.com/index.php?/le-paysage-et-le-corps/">http://www.blooworkshops.com/index.php?/le-paysage-et-le-corps/</a>
        </p>
        </div>		
        
        
        <div class="newsItem">
          <h3>June 28 -  Sept.29, 2012.</h3>
          <p class="ingress">The Nordic - Authentic Architecture, Louisiana Museum of Modern Art, Humlebaek, Denmark.
          </p>
         </div>        

        <div class="newsItem">
        <h3>June 13 -  Sept.16, 2012.</h3>
        <p class="ingress">Sense of Place, European landscape photography, Bozar Palais des Beaux-Arts, Brussels.</p>
        </div>


       
        
        <div class="newsItem">
        <h3>Until November:</h3>
        <p class="ingress">
        <span class="name">Alice in Wonderland</span>
        <br />
        Logomo, programme for the European Capital of Culture, Turku, Finland.
        </p>
        <p>In feminist writings the private sphere first figured as a site of sexual inequality, unremunerated work, and seething despair. The housewife - the ideal woman of the post Second World War years in advanced industrial societies - suffered in silence. However, a resurgent feminist movement which began to name the problems accompanying woman's multiple roles as wife, mother, sexual companion, worker, and political subject. Feminism offered women a public language for their private discontent. Alice sets a centre stage to further incite into the personal in politics.
        </p>
        <p>
        <b>More info:</b> 
        <a href="http://www.turku2011.fi/en/ohjelmahanke/543/info">http://www.turku2011.fi/en/ohjelmahanke/543/info</a>
        </p>
        </div>
        

        </div>
    <div  id="ex2" class="section">
        <h2>Solo Exhibitions</h2>
        <div class="newsItem">
        <h3>April 2 - May 3</h3>
        <p class="ingress">
        <span class="name">    Elina Brotherus: Sequences and Consequences</span><br />
        <a href="http://ama.fi/">Ama Gallery</a>, Helsinki.
        </p>
        
        <br />
        <p>
        <b>More info: </b> <a href="http://ama.fi/artists.php?artists/brotherus/index.htm">http://ama.fi/artists.php?artists/brotherus/index.htm</a>
        </p>
        </div>
        
<div class="newsItem">
<h3>Lauri Astala & Elina Brotherus: 'Poissa ja kotona' ('Home and Away')</h3>
          <p class="ingress">Gallery Heino, Helsinki <br />
            Opening April 27, until May 20. <br />
<a href="http://www.galleriaheino.fi/">http://www.galleriaheino.fi/</a>            
            </p>
          </div>        

<div class="newsItem">
<h3>Elina Brotherus & Kira Gluschkoff: 'What if?'</h3>
<p>Gallery Pick me, Helsinki <br />
    until May 30. <br />
    <a href="http://www.pickme.fi/gallery/">http://www.pickme.fi/gallery/</a>
    </p>
      </div>


<div class="newsItem">
<h3>Elina Brotherus
    Martin Asbaek Gallery, Copenhagen</h3>
  <p class="ingress">Opening June 1, until June 30. <br />
    <a href="http://www.martinasbaek.com/">http://www.martinasbaek.com/</a>
    </p>
  </div>

<div class="newsItem">
<h3>Elina Brotherus
    Salle de bains, Espace Photographique Contretype, Brussels</h3>
  <p class="ingress">May-June, Finissage June 14 in the presence of the artist <br />
  <a href="http://www.contretype.org/">http://www.contretype.org/</a>    
    </p>
  </div>


<div class="newsItem">
<h3>Elina Brotherus
            Galerie Les Voies Off, Arles</h3>
          <p class="ingress">Opening parallel to the Rencontres internationales de la photographie, July <br />
            <a href="http://www.voies-off.com/">http://www.voies-off.com/</a>
            </p>
          </div>        
	</div>
	
	<div id="ex3" class="section">
	<h2>New Monography &#34;Elina Brotherus: Artist And Her Model &#34;
Book Launch Events:</h2>

 <div class="newsItem">
   <h3>London: The Wapping Project - Bankside, April 25</h3>
   <p class="ingress">
   <span class="name">Elina Brotherus</span>  in conversation with <span class="name">Sheyi Bankale</span>
    <br />
     Wednesday 25 April 2012, 19.00 <br />
     The Wapping Project Bankside, 65a Hopton Street, SE1 <br />
     </p>
    <p class="ingress">     Free event, limited spaces available, <br />rsvp essential: 

    <a href="mailto:info@thewappingprojectbankside.com">info@thewappingprojectbankside.com</a>
     </p>
   </div>


<div class="newsItem">
<h3>Helsinki, Gallery Heino, April 27</h3>
  <p class="ingress">
  Friday 27 Apri 2012 ,15:00 <br />
  Uudenmaankatu 16-20  FI-00120 Helsinki.
  </p>
</div>
  
<div class="newsItem">
<h3>Arkadia Book Shop, Helsinki, June 11</h3>


    <p class="ingress"><span class="name">Elina Brotherus</span> in conversation with <span class="name">Timo Kelaranta</span>, author of one of the essays in the book and Elina's former professor at the University of Art and Design.</p>
     <p class="ingress">ARKADIA International Bookshop, Pohjoinen Hesperiankatu 9</p>
</div>  

<div class="newsItem">
<h3>Brussels: Espace Photographique Contretype, June 14</h3>
  <p class="ingress">1, avenue de la Jonction, 1060 Brussels</p>
</div>

<div class="newsItem">

<h3>Paris, June 15</h3>
  <p class="ingress">
  17 rue de la Villette, 75019 Paris (métro Jourdain) 
  <br />
<a href="http://www.librairie-photographique.com/">http://www.librairie-photographique.com/</a>    
    
    </p>
</div>
	</div><!--end of section-->
	
</div> <!--end of column-->
<script type="text/javascript">
	Brotherus.init.sections = 1;
</script>
 }}