<li class="">
  <a href="/photography/{{url}}" class="thumb-link">
    <img src="/photos/{{cover}}" alt="{{name}}">
  </a>
  <a href="/photography/{{url}}">
    <span class="name">{{name}}</span><br />
    <span class="year">{{year}}</span>
  </a>
</li>