<li class="">
  <a href="/photography/" class="thumb-link">
    <img src="/images/{{url}}.jpg" alt="{{name}}">
  </a>
  <a href="/photography/{{url}}">
    <span class="name">{{name}}</span><br />
    <span class="year">{{year}}</span>
  </a>
</li>