{{#pics}}
<li id="{{id}}" class="pic">
  <h2>{{name}}</h2>
  <p>
  Dimensions: {{dimensions}} |
  Year: {{year}} |
  Edition: {{edition}}
  </p>
  <img class="image-source" alt="{{pname}}" title="{{name}}" data-original="/photos/{{url}}/{{id}}.jpg" />
</li>
{{/pics}}