<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<title><!--{TITLE}--></title>
	<meta http-equiv="Content-Type" content="text/html; utf-8" />
	<meta name="keywords" content="<!--{KEYWORDS}-->" />
	<meta name="description" content="<!--{DESCRIPTION}-->" />
	<link rel="icon" type="image/gif" href="/favicon.gif" />
	<!-- functions and main function -->	 	

	<!--styles -->
	<link rel="stylesheet" href="/assets/layout/styles.php" media="screen" type="text/css" />

	<!--{CSS}-->
	
	<!--[if IE 6]>
    <script type="text/javascript">
    alert('Please update your browser. This version is not supported anymore.'):
    </script>
	<style type="text/css">
	.dynamic #browser #picContainer {
		display:block;
		margin: auto auto 30px;
	}
	</style>
	<![endif]-->



<script type="text/javascript">
    var Brotherus = {};
    Brotherus.gallery = {};
    Brotherus.running = {};
    Brotherus.effects = {};
    Brotherus.init = {};
	<!--{SCRIPTS_STYLES}-->
    <!--{JS_BEFORE_ONLOAD}-->
    <!--{MOREDYNAMICS}-->
</script>

</head>

<body>
<div id="pageContainer"  class="clearfix <!--{PAGECLASS}-->">
	<div id="pageShadow">
	<!-- header box-->
		<div id="headerBox">
			<h1><a href="/">Elina Brotherus</a></h1>
		</div>
		<!-- /header box ends-->
		
		<!-- content box -->
		<div id="contentBox" class="clearfix">
			<div id="naviColumn" class="column">
			<!--{NAVI}-->
			<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.elinabrotherus.com&amp;layout=box_count&amp;show_faces=false&amp;width=120&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:65px;" allowTransparency="true"></iframe>
			</div>
			<!--{CONTENT}-->	        
		</div><!--content box ends -->
	</div><!--/pageShadow ends -->
</div><!-- pageContainer ends-->
<!--	<script type="text/javascript" src="/assets/js/head.0.9.min.js"></script>-->
	<script type="text/javascript" src="/assets/js/jquery-1.5.1.min.js"></script>	
	<script type="text/javascript" src="/assets/js/jquery.tools.min.js"></script>
    <script type="text/javascript" src="/assets/js/jquery.scrollTo-1.4.2-min.js"></script>
	<script type="text/javascript" src="/assets/js/jquery.form.js"></script>	
	<script type="text/javascript" src="/assets/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/assets/js/brotherus.functions.js"></script>
	<script type="text/javascript" src="/assets/js/brotherus.guestbook.js"></script>
	<script type="text/javascript" src="/assets/js/brotherus.main.js"></script>
	<script type="text/javascript">
//add css-hook for scripted styles
$('body').addClass('dynamic');

var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-8971429-1");
pageTracker._trackPageview();
} catch(err) {}

//init main stuff
$(function(){
      Brotherus.inits();
});

</script>
</body>
</html>
