<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{title}} - Elina Brotherus</title>
    <meta http-equiv="Content-Type" content="text/html; utf-8" />
    <meta name="keywords" content="{{meta_keywords}}" />
    <meta name="description" content="{{meta_desc}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/gif" href="/favicon.gif" />
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700,400italic' rel='stylesheet' type='text/css' />
    <!--[if IE lt 8]>
    <script type="text/javascript">
    alert('Please update your browser. This version is not supported anymore.'):
    </script>
    <![endif]-->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <!-- Optional theme -->{{!
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"> }}
    <!-- compiled css -->
    {{{css}}}
  </head>
  <body>
    <header id="headerBox" class="container-fluid">
      <h1><a href="/">Elina Brotherus</a></h1>
    </header>
    <div id="contentBox" class="container-fluid">
      <div class="row">
        <nav>
            <div class="col-xs-12 col-sm-3 col-md-2">
              <div class="row nav-row">{{>navi}}</div>
            </div>
        </nav>
        {{{yield}}}
      </div>
    </div>
    <footer class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-8 col-md-offset-2">
          <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.elinabrotherus.com&amp;layout=box_count&amp;show_faces=false&amp;width=120&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:65px;" allowTransparency="true"></iframe>
        </div>
      </div>
    </footer>
    {{! CDN assets}}
    <script type="text/javascript">
    var Brotherus = {instances:{}};
    </script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/headjs/1.0.3/head.min.js"></script>
    <script src="/js/load.js"></script>
    {{! compiled local js assets }}
    {{! {js} }}
    {{! google me }}
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("{{gacode}}");
    pageTracker._trackPageview();
    } catch(err) {}
    </script>
  </body>
</html>