<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}} - Elina Brotherus</title>
  <meta http-equiv="Content-Type" content="text/html; utf-8" />
  <meta name="keywords" content="{{meta_keywords}}" />
  <meta name="description" content="{{meta_desc}}" />
  <link rel="icon" type="image/gif" href="/favicon.gif" />
  <!-- functions and main function -->    
  <!--styles -->

  {{! <link rel="stylesheet" href="/css/styles.css" media="screen" type="text/css" /> }}

  {{! extra css }}

  
  <!--[if IE 6]>
    <script type="text/javascript">
    alert('Please update your browser. This version is not supported anymore.'):
    </script>
  <![endif]-->

  
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script> 
<script src="https://raw.github.com/tuupola/jquery_lazyload/master/jquery.lazyload.js"></script>

<script type="text/javascript">
    var Brotherus = {
      // gallery: {},
      // running:{},
      // // effects:{},
      // init:{}
    };
    // Brotherus.gallery = {};
    // Brotherus.running = {};
    // Brotherus.effects = {};
    // Brotherus.init = {};
</script>

<!--! compiled css -->
{{{css}}}
  
<!--! compiled csjs-->


</head>

<body>
{{foo}}
<div id="pageContainer"  class="clearfix {{page_class}}">
  <div id="pageShadow">
  <!-- header box-->
    <div id="headerBox">
      <h1><a href="/">Elina Brotherus</a></h1>
    </div>
    <!-- /header box ends-->
    
    <!-- content box -->
    <div id="contentBox" class="clearfix">
      <div id="naviColumn" class="column">
      {{>navi}}
      <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.elinabrotherus.com&amp;layout=box_count&amp;show_faces=false&amp;width=120&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=65" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:120px; height:65px;" allowTransparency="true"></iframe>
      </div>
      {{{yield}}}
    </div><!--content box ends -->
  </div><!--/pageShadow ends -->
</div><!-- pageContainer ends-->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("{{gacode}}");
pageTracker._trackPageview();
} catch(err) {}

//init main stuff
$(function(){
  alert(1);
  $(".pic img").lazyload({
    effect : "fadeIn"
  });
});
</script>
</body>
</html>
