<div id="videos" class="col-xs-12 col-sm-9 col-md-8">

		<h2 class="page-title">Links</h2>
		
	<div id="links_1"  class="section">
	<h3>Galleries and Museums</h3>
		<ul class="textList">
		<li><a href="http://www.gbagency.fr">gb Agency, Paris</a></li>
		<li><a href="http://www.thewappingprojectbankside.com">The Wapping Project, London</a></li>
		<li><a href="http://www.martinasbaek.com">Martin Asbaek Gallery, Copenhagen</a></li>
		<li><a href="http://www.hippolyte.fi">Photographic Gallery Hippolyte / Finnish Association for Artists in Photography</a></li>
		<li><a href="http://www.ama.fi">Ama Gallery, Helsinki</a></li>
		</ul>
	</div>
	<div  id="links_2" class="section">
		<h3>Institutes and Organisations</h3>
		<ul class="textList">
		<li><a href="http://www.frame-fund.fi">FRAME, Finnish Fund for Art Exchange</a></li>
		<li><a href="http://www.av-arkki.fi">Av-arkki, Distribution Center for Finnish Media Art</a></li>
		<li><a href="http://www.44moen.dk">44 Moen, island of Moen, Denmark</a></li>
		</ul>
	</div>
	<div id="links_3" class="section">
		<h3>Artists</h3>
		<ul class="textList">
		<li><a href="http://www.lauriastala.com">Lauri Astala</a></li>
				
		</ul>
	</div>
	</div>