{{#menu}}
<div class="naviSection">
	<h2>{{title}}</h2>
<ul>
	{{#items}}
	<li>
		<a id="" class="{{active}}" href="{{url}}">
		<span class="btnSmallRight btnSmall">&gt;</span>
		<span>{{name}}</span>
	</a>
	</li>
	{{/items}}
</ul>
</div>
{{/menu}}