<script>
  Brotherus.init.fpPics = 1;
</script>
<div class="column midColumn"> 
	<div class="midTop">
		<div class="midBottom">

<ul>
<li>
  <h3>More Videos available</h3>
  <a class="newsLink" href="/videos/#section_6">Watch 3 new videos </a>
</li>
<li>
  <h3>Summer 2012 exhibitions updated</h3>
  <a class="newsLink" href="/exhibitions/#ex1">See full exhibition listing</a>
</li>
<li>
  <h3>New Monography launch events</h3>
  <a class="newsLink" href="/exhibitions/#ex3">See full events listing.</a>
</li>

<li>
    <h3>Spring & Summer exhibitions</h3>
    <a class="newsLink" href="/exhibitions/">Upcoming <b>solo and group exhibitions</b> in France, Norway and Finland</a>
</li>
<li>
    <h3>New Video section</h3>
    <a class="newsLink" href="/videos/">Watch a selection of full length <b>videoworks</b> (1997-2011)</a>
</li>
<li>
    <h3>Stay up-to-date</h3>
  <a class="newsLink" href="/guestbook/">  Receive event invitations and share your exhibition experiences on Facebook or in our <b>Guest Book</b></a>
</li>
</ul>

		</div>
	</div>
</div>



<!-- front page gallery -->


<div id="browser" class="column">
{{>frontgallery}}
	<div id="browserControls">
			<div class="browserBtn btnLeft"><!-- arrow left --></div>
			<div class="browserBtn btnRight"><!-- arrow right--></div>
			<p class="picData">
				<span class="picName"></span>
				<span class="picDimensions"></span>
			</p>
			<p class="seriesData">
				<span class="seriesName"> </span> 
<!--				| <span class="seriesDate"> </span>-->
			</p>		
	</div>
</div>


