<div class="col-xs-12 col-sm-9 col-md-10">
  
  
  
  <ul>
  <li>
    <h3>More Videos available</h3>
    <a class="newsLink" href="/videos/#section_6">Watch 3 new videos </a>
  </li>
  <li>
    <h3>Summer 2012 exhibitions updated</h3>
    <a class="newsLink" href="/exhibitions/#ex1">See full exhibition listing</a>
  </li>
  <li>
    <h3>New Monography launch events</h3>
    <a class="newsLink" href="/exhibitions/#ex3">See full events listing.</a>
  </li>
  
  <li>
      <h3>Spring & Summer exhibitions</h3>
      <a class="newsLink" href="/exhibitions/">Upcoming <b>solo and group exhibitions</b> in France, Norway and Finland</a>
  </li>
  <li>
      <h3>New Video section</h3>
      <a class="newsLink" href="/videos/">Watch a selection of full length <b>videoworks</b> (1997-2011)</a>
  </li>
  <li>
      <h3>Stay up-to-date</h3>
    <a class="newsLink" href="/guestbook/">  Receive event invitations and share your exhibition experiences on Facebook or in our <b>Guest Book</b></a>
  </li>
  </ul>

<div id="browser" class="column">
{{>frontgallery}}
</div>



</div>




<!-- front page gallery -->
