<div class="column midColumn">
  <div class="midTop">
    <div class="midBottom">
      <h2>Photography</h2>
      <ul>
        {{#gallery_list}}
        {{>gallery_list_item}}
        {{/gallery_list}}
      </ul>
      
    </div>
  </div>
</div>
<div class="column rightColumn">
  <h2>Photography</h2>
  <img alt="" title="" src="/photos/front/39_Le-Printemps.jpg" class="pic" style="border:1px solid #DDDDDD; padding:2px; float:left; width:200px; margin:0 10px 0 0;"/>
  <p>Elina Brotherus (b. 1972 Helsinki, Finland), works in photography and video.
  Her early work delt with subjective experiences, the presence and absence of love. She then moved on to more formal issues in her series The New Painting. Her current work is centered on the relation of the human figure and landscape, and on the gaze of an artist on his/her model. Elina Brotherus lives and works in Finland and in France.</p>
</div>