<div class="column midColumn clearfix"> 
	<div class="midTop clearfix">
		<div class="midBottom clearfix">
		<h2>Photography</h2>
		      <ul>
        {{#gallery_list}}
        {{>gallery_list_item}}
        {{/gallery_list}}
      </ul>
		</div>
	</div>
</div>

<div class="column clearfix" id="galleryColumn">
{{>gallery_browser}}
</div>
