<div class="column midColumn"> 
	<div class="midTop">
		<div class="midBottom">
            <h2>Videos</h2>       
            <ul class="sectionList">
                <li>
<h3>
    <a class="sectionLink" href="#section_1"><span class="name">Ré-collection</span></a>
</h3>
                    <p><i>video</i>, 2010</p>                    
                
                </li>
                <li>
     <h3>
         <a class="sectionLink" href="#section_2">
         <span class="name">Brotherus, tyttö</span></a>
     </h3>
                    <p><i>video</i>, 2004</p>

                </li>
                <li>
          <h3>
              <a class="sectionLink" href="#section_3">
                  <span class="name">Spring - Part 1 (2003)</span>
              </a>
          </h3>
                    <p><i>video</i>, 2003</p>
                </li>
            </ul>
		</div>
	</div>
</div>
<div class="column rightColumn">
    <div id="section_1" class="section">
        <h2>Ré-collection</h2>
        <p class="video-wrapper">
            <object width="320" height="242"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=17437288&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=17437288&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="320" height="242"></embed></object>
        </p>
        
    </div>
    
    
    <div id="section_2" class="section">
        <h2>Brotherus, tyttö</h2>
        <p class="video-wrapper">
            <object width="320" height="240"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=14636298&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=14636298&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="320" height="240"></embed></object>
        </p>
    </div>
    <div id="section_3" class="section">
      <h2>Spring - Part 1</h2>
      <p class="video-wrapper">
<object width="320" height="240"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=19941541&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=19941541&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="320" height="240"></embed></object>
      </p>
    </div>
    <hr />
    
    <p>
    <a href="http://vimeo.com/ebrotherus/subscriptions/videos/rss" class="rss-icon">Subscribe to Elina Brotherus video feed</a>
    
    </p>
</div>


