<h3 class="sBTitle">Model Studies (2002-)</h3>

<p class="ingress">
Model Studies continues from where my earlier series The New Painting (2000-2004) ends.
</p>
<p>
Even more pronouncedly than the previous series, Model Studies is not about personal stories nor a documentary about someone's life. The images have been constructed for visual reasons. My attention is attached to light, colours, the rythm of the masses, and to subject matters with classical notions. The figure often turns her back to the spectator. This gesture invites to a peaceful contemplation, not to a confrontation.
</p>
<p class="signature">
Elina Brotherus
Paris, February 2005
</p>