<div class="column" id="contactInfo">
<h3>Contact info</h3>

<p>For all press inquiries and requests related to exhibitions:</p>
<p>
<a href="mailto:elina.brotherus@gmail.com">elina.brotherus[at]gmail.com</a>
</p>

<h3> Site design</h3>

<p><strong>UI and site development:</strong> Sakari Laaksonen</p>
<p><strong>Graphic design:</strong> Antoine Verhaverbeke</p>
<p><strong>Producer:</strong> Maarten Patteeuw</p>
<p><strong>Site hosting:</strong>Xio</p>
<p><a href="mailto:mpatteeuw@gmail.com">Contact webmaster</a></p>


</div>
<div id="guestbookColumn" class="column">


</div>
