<div class="column midColumn"> 
	<div class="midTop">
		<div class="midBottom">
		<h2>EDITIONS</h2>
			<ul>
				
				<li>
				<h3 class="date"><a href="#links_1" class="sectionLink"><span class="name">Etudes d'après modèle, danseurs</span></a></h3>					
					<p> <i>book</i>, 2007</p>
				</li>
				
				<li>
				<h3 class="date"><a href="#links_2" class="sectionLink"><span class="name">The New Painting</span></a></h3>					
					<p> <i>book</i>, 2005</p>
				</li>
				
				<li>
				<h3 class="date"><a href="#links_3" class="sectionLink"><span class="name">Decisive Days</span></a></h3>					
					<p> <i>book</i>, 2004</p>
				</li>
			
			<!--older item -->
				<li>
					<h3 class="date"><a href="#links_4" class="sectionLink"><span class="name">Complete Videoworks 1996-2006</span></a></h3>
					<p> <i>cd rom</i>2006</p>
				</li>	
			<!-- /older item end -->


			</ul>
		</div>
	</div>
</div>
<div class="column rightColumn">


<div id="links_1"  class="section">
	<h2>Etudes d'après modèle, danseurs</h2>
<img alt="" title="" src="/assets/photos/editions/Edition%2001.jpg" class="pic" style="border: 1px solid rgb(221, 221, 221); margin: 0pt 10px 0pt 0pt; padding: 2px; float: left; width: 200px;" />
<p>more info soon</p>

	  </div>
	  
	  


<div id="links_2"  class="section">
	<h2>Photography</h2>
<img alt="" title="" src="/assets/photos/editions/Edition%2002.jpg" class="pic" style="border: 1px solid rgb(221, 221, 221); margin: 0pt 10px 0pt 0pt; padding: 2px; float: left; width: 200px;" />
<p>more info soon</p>

	  </div>
	  



<div id="links_3"  class="section">
	<h2>Photography</h2>
<img alt="" title="" src="/assets/photos/editions/Edition%2003.jpg" class="pic" style="border: 1px solid rgb(221, 221, 221); margin: 0pt 10px 0pt 0pt; padding: 2px; float: left; width: 200px;" />
<p>more info soon</p>

	  </div>
	



<div id="links_4"  class="section">
	<h2>Photography</h2>
<img alt="" title="" src="/assets/photos/editions/Edition%2004.jpg" class="pic" style="border: 1px solid rgb(221, 221, 221); margin: 0pt 10px 0pt 0pt; padding: 2px; float: left; width: 200px;" />
<p>more info soon</p>

	  </div>
	
	  
	</div>

<script type="text/javascript">
	Brotherus.init.sections = 1;
</script>
