        <li class="{{active_class}}">
          <a href="{{url}}">
            <span class="name">{{name}}</span>
            <br />
            <span class="year">{{year}}</span>
          </a>
        </li>