{{#pics}}
<div id="{{pic['id']}}" class="pic">
  <img alt="{{pic['title']}}" title="{{pic['title']}}" src="{{pic['url']}}" />
    <h3>{{pic['title']}}</h3>
    <p>
    Dimensions: {{pic['dimensions']}} |
    Year: {{pic['year']}} |
    Edition: {{pic['edition']}}
    </p>
    </div>
{{/pic}}