<div class="column midColumn"> 
	<div class="midTop">
		<div class="midBottom">
		
		
            <h2>Videos</h2>       
            <a href="http://vimeo.com/ebrotherus/videos/rss" id ="video-rss-icon" class="rss-icon"></a>
            <a href="http://vimeo.com/ebrotherus/videos/rss" class="help" id="video-rss-help">?<span>: Subscribe to Elina Brotherus video feed</span> </a>
            <ul class="sectionList">
<!--                <li>-->
<!--                    <h3>-->
<!--                        <a class="sectionLink" href="#section_1"><span class="name">Ré-collection</span></a>-->
<!--                    </h3>-->
<!--                    <p><i>documentary</i>, 2010</p>                    -->
<!--                -->
<!--                </li>-->
                <li>
                     <h3>
                         <a class="sectionLink" href="#section_2">
                         <span class="name">Brotherus, tyttö</span></a>
                     </h3>
                    <p><i>video</i>, 2004</p>

                </li>
                <li>
                  <h3>
                      <a class="sectionLink" href="#section_3">
                          <span class="name">Spring - Part 1 (2003)</span>
                      </a>
                  </h3>
                    <p><i>video</i>, 2003</p>
                </li>
                         <li>
                  <h3>
                      <a class="sectionLink" href="#section_4">
                          <span class="name">Artists at Work</span>
                      </a>
                  </h3>
                    <p><i>video</i>, 2009</p>
                </li>
                 <li>
                  <h3>
                      <a class="sectionLink" href="#section_5">
                          <span class="name">The Black Day Sequence</span>
                      </a>
                  </h3>
                    <p><i>video</i></p>
                </li>
                <li>
                  <h3>
                      <a class="sectionLink" href="#section_6">
                          <span class="name">My Happiness Is Round</span>
                      </a>
                  </h3>
                    <p><i>video</i></p>
                </li>
                <li>
                  <h3>
                      <a class="sectionLink" href="#section_7">
                          <span class="name">Nu Montant l'Escalier</span>
                      </a>
                  </h3>
                    <p><i>video</i></p>
                </li>
                <li>
                  <h3>
                      <a class="sectionLink" href="#section_8">
                          <span class="name">Nu Descendant l'Escalier</span>
                      </a>
                  </h3>
                    <p><i>video</i></p>
                </li>
            </ul>
		</div>
	</div>
</div>

<div class="column rightColumn">
<!--    <div id="section_1" class="section">-->
<!--        <h2>Ré-collection</h2>-->
<!--        <p class="video-wrapper">-->
<!--            <object width="320" height="242"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=17437288&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=17437288&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="320" height="242"></embed></object>-->
<!--        </p>-->
<!--    </div>-->
    <div id="section_2" class="section">
        <h2>Brotherus, tyttö</h2>
        <p class="video-wrapper">
            <object width="320" height="240"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=14636298&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=14636298&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="320" height="240"></embed></object>
        </p>
    </div>
    <div id="section_3" class="section">
      <h2>Spring - Part 1</h2>
      <p class="video-wrapper">
<object width="320" height="240"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=19941541&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=19941541&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="320" height="240"></embed></object>
      </p>
    </div>

    <div id="section_4" class="section">
        <h2>Artist at Work </h2>
            <h3>Part 1</h3>
        <p class="video-wrapper">
            <object width="380" height="214"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=22647132&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=22647132&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="380" height="214"></embed></object></p>

        <h3>Part 2</h3>
    <p class="video-wrapper">
        <object width="380" height="214"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=22654081&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=22654081&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="380" height="214"></embed></object>
    </p>        

    </div>    
    <div id="section_5" class="section">
        <h2>The Black Bay Sequence</h2>    
        <h3>Part 1</h3>
        <p class="video-wrapper">
        <object width="380" height="214"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=22690891&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=22690891&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="380" height="214"></embed></object>
        </p>
        <h3>Part 2</h3>
        
        <p class="video-wrapper">
        
        <object width="380" height="214"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=22693399&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=22693399&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="380" height="214"></embed></object>
        </p>
        
        <h3>Part 3</h3>
        <p class="video-wrapper">
           <object width="380" height="214"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=22696310&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=22696310&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=00adef&amp;fullscreen=1&amp;autoplay=0&amp;loop=0" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="380" height="214"></embed></object>
       </p>
    </div>
    
    
    <div id="section_6" class="section">
     <h2>My Happiness is Round</h2>
     <p class="video-wrapper">
       <iframe src="http://player.vimeo.com/video/34358935" width="380" height="214" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
     </p>
    </div>
    
    <div class="section" id="section_7">
      <h2>Nu Montant l'Escalier</h2>
    	<p class="video-wrapper">
    	      <iframe src="http://player.vimeo.com/video/34358831" width="380" height="214" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

    	</p>
    </div>
   
    <div class="section" id="section_8">
      <h2>Nu Descendant l'Escalier</</h2>
      <p class="video-wrapper">
          <iframe src="http://player.vimeo.com/video/34358711" width="380" height="214" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>



      </p>
    </div> 



<!--    END OF SECTIONS-->
      </div>
<script type="text/javascript">
	
</script>

